ul {
    list-style-type: none;
}

.footer-menu-group {
    border-bottom: 2px solid #ccc!important;
    border-top: 2px solid #ccc!important;
}

.footer-menu {
    margin-top: 0.35em;
    line-height: 2.5em;
}

.main-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}