<div class="col-10 offset-1">
    <div class="footer-menu-group row pb-5 pt-2 mb-3 mt-5">
        <div class="col-3">
            <h4 id="app-name" class="main-color"><i class="fa fa-book" style="color: orange;"></i> READING.COM</h4>
            <br>
            <span>Reading.com é um produto fictício para ajudar no processo seletivo para o time de Produto & Desenvolvimento da Hivecloud</span>
        </div>
        <div class="col-3">
            <ul class="footer-menu">
                <li><strong>Reading.com</strong></li>
                <li><span>Meus Livros</span></li>
                <li><span>Comunidade</span></li>
                <li><span>Novidades</span></li>
                <li><span>Aplicativos</span></li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="footer-menu">
                <li><strong>Sobre nós</strong></li>
                <li><span>Blog</span></li>
                <li><span>Nossa missão</span></li>
                <li><span>Contato</span></li>
                <li><span>Carreira</span></li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="footer-menu">
                <li><strong >Inscreva-se</strong></li>
                <li>
                    <div class="form-group">
                        <input type="text" placeholder="Seu e-mail" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="form-control btn btn-info rounded-pill">Inscrever</button>
                    </div>
                </li>
            </ul> 
        </div>
    </div>
    <div class="row mb-3">
        <small class="text-muted">Copyright@ 2020 Reading all rights reserved</small>
        <span class="ml-3 mr-3">Politica de privacidade</span>
        <span class="ml-3 mr-3">Termos de uso</span>
        <span class="ml-3 mr-3">Segurança</span>
        <span class="ml-3 mr-3">Legal</span>
        <span class="ml-3 mr-3">Site map</span>
        <strong class="ml-auto">PT</strong>  
    </div>
</div>