ul {
    list-style-type: none;
}

.footer-menu-group {
    border-bottom: 2px solid #ccc!important;
    border-top: 2px solid #ccc!important;
}

.footer-menu {
    margin-top: 0.35em;
    line-height: 2.5em;
}