<div class="row">
    <div class="col-4 offset-1">
        <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        <h3 class="mt-3">
            Adicionar livro
        </h3>
        <p class="mt-4">Informe o nome do livro</p>

        <p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)"></p-autoComplete>

        <button (click)="showManualBookForm()" pButton type="button" icon="pi pi-plus" label="Preencher manualmente" 
            class="p-button-warning p-button-text">
        </button>
        
        <div id="manual-book-form" *ngIf="manualBookForm">
            form manual de input de livro
        </div>

    </div>
   
</div>
