<div class="row">
    <div class="col-3 offset-1">
        <div class="d-flex justify-content-center">
            <div id="user-profile-picture">
            </div>
        </div>

        <div class="d-flex flex-column mt-4">
            <strong >{{ user.name }}</strong>
            <span >Recife, Brazil</span>
        </div>
        
        <div id="user-counters" class="d-flex justify-content-between mt-4">
            <div class="text-center">
                <span>{{ user.reviewsCount }}</span>
                <br>
                <small>Resenhas</small>
            </div>
            <div class="text-center">
                <span>{{ user.friendsCount }}</span>
                <br>
                <small>Amigos</small>
            </div>
            <div class="text-center">
                <span>{{ user.booksCount }}</span>
                <br>
                <small>Livros</small>
            </div>
        </div>

        <div class="d-flex mt-4 mb-4">
            <button pButton type="button" class="form-control p-button-rounded p-button-warning" label="Adicionar livro" 
            (click)="addBook()"></button>
        </div>

        <span class="mt-4"> Livros favoritos</span>
        <div id="favorite-books">

        </div>
        
    </div>
    <div class="col-5">
        <p-tabView>
            <p-tabPanel header="Lendo atualmente">
                <div *ngFor="let book of booksReading; let i = index" class="d-flex">
                    <div class="d-flex flex-column" style="min-width: 160px; align-items: center; margin-top: 2em">
                        <img src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" style="width:100px;"/>
                        <div class="form-group mt-4">
                            <button pButton type="button" class="p-button-sm p-button-rounded p-button-warning" (click)="criarResenha(book)" label="Publicar Resenha" ></button>
                        </div>
                    </div>
                    <div class="d-flex flex-column ml-3">
                        <span style="font-size:18px;">
                            {{book.title}} 
                        </span>
                        <span style="font-size:12px; color: blue;">
                            {{book.author}}
                        </span>
                        <p-rating class="mt-3" [(ngModel)]="book.currentRating" [cancel]="false"></p-rating>
                        <p style="font-size: 8;">Começou a ler em: {{book.startReadingDate}}</p>
                        <p style="font-size: 8;">{{book.readers}} pessoas leram esse livro<p>
                        <span>Seu progresso</span>
                        <p-progressBar [value]="book.progress"></p-progressBar>

                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Lidos">
                <div *ngFor="let book of booksReaded; let i = index" class="d-flex">
                    <div class="d-flex flex-column" style="min-width: 160px; align-items: center; margin-top: 1.5em">
                        <img src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" style="width:100px;"/>
                        <div class="form-group mt-4">
                            <button pButton type="button" class="p-button-sm p-button-rounded p-button-warning" (click)="criarResenha(book)" label="Publicar Resenha" ></button>
                        </div>
                    </div>
                    <div class="d-flex flex-column ml-3">
                        <span style="font-size:18px;">
                            {{book.title}} 
                        </span>
                        <span style="font-size:12px; color: blue;">
                            {{book.author}}
                        </span>
                        <p-rating class="mt-3" [(ngModel)]="book.finalRating" [cancel]="false"></p-rating>
                        <p style="font-size: 8;">Começou a ler em: {{book.startReadingDate}}</p>
                        <p style="font-size: 8;">Terminou em: {{book.endReadingDate}}</p>
                        <p style="font-size: 8;">{{book.readers}} pessoas leram esse livro<p>
                        
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Para ler">
                <div *ngFor="let book of booksReaded; let i = index" class="d-flex">
                    <div class="d-flex flex-column" style="min-width: 160px; align-items: center; margin-top: 1em">
                        <img src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" style="width:100px;"/>
                    </div>
                    <div class="d-flex flex-column ml-3">
                        <span style="font-size:18px;">
                            {{book.title}} 
                        </span>
                        <span style="font-size:12px; color: blue;">
                            {{book.author}}
                        </span>
                        <p style="font-size: 8;">Total de páginas {{book.pages}}</p>
                        <p style="font-size: 8;">{{book.readers}} pessoas leram esse livro<p>
                        
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
    <div class="col-3">
        <div class="d-flex flex-column">
            <div class="mb-4" id="user-profile-picture">
            </div>
            <div class="mb-4" id="user-profile-picture">
            </div>
            <div id="user-profile-picture">
            </div>
        </div>
    </div>
</div>
